*{
    margin: 0;
    padding: 0;
}
#image{
    width: 200px;
    height: 100px;
    margin-left: 115px;
}


#seconddiv{
    display: flex;
    margin-top: 50px;
    /* margin-top: 130px; */
}
#you{
  display: flex;
    margin-left: 80px;
}
#firsttext{
  margin-left: 50px; 
  margin-top: 50px;
  font-size: 60px;  
}
#myvid{
    width:600px;
    height: 600px;
    margin-top: 20px;
    margin-left: 100px;
}
#myp{
    margin-left: 50px;
    font-size: 20px;
}
#bus{
margin-left: 50px;
width: 200px;
height: 40px;
background-color: rgb(41,108,240);
color: white;
border-color: rgb(41,108,240);
border-radius: 5px;
}
#api{
    font-size: 35px;
}
#pers{
    width: 200px;
    height: 40px;
    background-color: white;
    color: rgb(41,108,240);
    margin-left: 10px;
    border-radius: 5px;
    border-color:  rgb(41,108,240);
}
#secondpage{
    width: 100%;
    height: 1200px;
    background-color: rgb(41,108,240);
}
#individuals{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 55px;
}
#lola{
    width: 400px;
    height: 500px;
    margin-left: 150px;
    margin-top: 100px;
}
#move h1{
    font-size: 22px;
}
#move img{
    width: 70px;
    height: 70px;
}
#both{
    display: flex;
}
#app{
    margin-left: 30px;
}
#move{
    margin-left: 50px;
}
#move button{
    width: 270px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(41,108,240);
    color: white;
    border-color: white;
}
#bills{
    color: white;
    display: flex;
    margin-top: 100px;
    /* margin-left: 100px; */
}
#pos{
    color: white;
    margin-left: 30px;
}
#yup{
    display: flex;
    /* margin-left: 100px; */
}
.third{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    /* margin-left: 110px; */
    /* display: flex; */
}
#success{
    display: flex;
}
#ness{
    color: rgb(41,108,240);
}
#jour{
    font-size: 35px;
}
#thevid{
    width: 550px;
    height: 550px;
    margin-left: 100px;
}
#busy{
    margin-left: 130px;
}
#sonal{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin-left: 25px;
}
#kan{
    width: 350px;
    height: 350px;
    margin-left: 100px;
}
#svg{
    color: rgb(41,108,240);
}
.fourth{
    width: 100%;
    height: 450px;
    /* margin-left: 100px; */
    /* margin-top: 50px; */
   
}
#thetwo{
    margin-left: 105px;
    margin-top: 30px;
    display: flex ;
}
#feel{
    /* margin-left: 10px; */
    font-size: 35px;
}
#easy{
     margin-left: 100px; 
}
.fifth{
    width: 100%;
    height: 500px;
    margin-top: 150px;
    /* margin-left: 110px; */
    /* margin-top: 50px; */
    
}
#thethree{
    margin-left: 130px;
    display: flex;
}
.marq{
    width: 100%;
    height: 500px;
   
}

#nial{
    color: rgb(41,108,240);
}
#person{
    color:  rgb(41,108,240);
}
#testi{
    text-align: center;
    width: 100%;
    /* height: 1000px; */
    background-color: rgb(248,248,248);
    
}
#nav{
    height: 70px;
    width: 100%;
    
}
#abiodun{
    display: flex;
    gap: 20px;
    
}
#rita{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 230px;
  
}
#rita h5{
text-align: left;
padding-left: 15px;
}
#ayinla{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 230px;
}
#ayinla h5{
    text-align: left;
    padding-left: 8px;
}
#olamide{
    background-color: rgb(255,255,255);
    width: 350px;
}
#olamide h5{
    text-align: left;
    padding-left: 10px;
}
#samuel{
display: flex;
gap: 20px;

}
#segun{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 230px;
}
#segun h5{
    text-align: left;
    padding-left: 10px;
}
#obinna{
    background-color: rgb(255,255,255);
    width: 350px;
   
}
#obinna h5{
    text-align: left;
    padding-left: 5px;
}
#etim{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 150px;
    margin-top: 20px;
}
#etim h5{
    text-align: left;
    padding-left: 10px;
}
#lolly{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 170px;
    margin-top: 20px;
}
#lolly h5{
    text-align: left;
    padding-left: 10px;
}
#phillip{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 170px;
    margin-top: 20px;
}
#phillip h5{
    text-align: left;
    padding-left: 10px;
}
#daizel{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 170px;
}
#moving{
    font-size: 33px;
}
#daizel h5{
    text-align: left;
    padding-left: 10px;
}
.interface{
    margin-left: 100px;
    height: 500px;
}
#joy{
    display: flex;
    gap: 20px;
   
}
#ocheme{
    display: flex;
    gap: 20px;
}
#austin{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 150px;
    margin-top: 20px;
}
#austin h5{
    text-align: left;
    padding-left: 10px;
}
#joseph{
    background-color: rgb(255,255,255);
    width: 350px;
    height: 150px;
    margin-top: 20px;
}
#joseph h5{
    text-align: left;
    padding-left: 10px;
}






@media(max-width : 1115px) {
    #myvid{
        width: 450px;
        height: 450px;
    }
    #buttons{
        display: flex;
    }
    /* #img{
        margin-left: 100px;
    } */
     #firsttext{
        font-size: 45px;
     }
}
@media(max-width : 1000px){
    #myvid{
        width: 350px;
        height: 350px;
    }
    #buttons{
        display: flex;
    }
    #firsttext{
        font-size: 35px;
     }
}
@media(max-width: 750px){
    #myvid{
        width: 300px;
        height: 300px;
        margin-left: -80px;
    }
    #gateway{
        margin-left: -100px;
    }
    #buttons{
        display: flex;
        
    }
    #bus{
        height: 70px;
        width: 120px;
    }
    #pers{
        height: 70px;
        width: 120px;
    }

    #firsttext{
        font-size: 35px;
     }
     #myp{
        font-size: 15px;
     }
     #you{
        display: block;
     }
     #individuals{
        font-size: 25px;
     }
     #both{
        display: block;
     }
     #secondpage{
        width: 100%;
        height: 1650px;
     }
     #move button{
        width: 200px;
        height: 50px;
     }
     #move p{
        font-size: 15px;
     }
     #forward{
        font-size: 15px;
     }
     #move{
        margin-left: -0px;
     }
     #move h1{
        font-size: 15px;
     }
     #lola{
        width: 300px;
        height: 400px;
        margin-left: -5px;
        /* margin-top: -5px; */
     }
     #success{
        display: block;
     }
     #thevid{
        width: 300px;
        height: 300px;
        margin-left: -10px;
     }
     #jour{
        font-size: 25px;
     }
     #thetwo{
        display: block;
     }
     .fourth{
        height: 700px;
     }
     #sonal{
        width: 300px;
        height: 300px;
        margin-left: -80px;
     }
     #feel{
        font-size: 24px;
     }
     #easy{
        margin-left: -80px;
     }
     
     #easy li{
        font-size: 15px;
     }
     #thethree{
        display: block;
     }
     #kan{
        width: 250px;
        height: 300px;
     }
     #api{
        font-size: 23px;
        
     }
     #nect{
        font: 20px;
     }
     #nial{
        font-size: 15px;
        margin-left: -40px;
     }
     #moving{
        font-size: 20px;
        margin-left: -40px;
     }
     #abiodun{
        display: block;
     }
    #rita{
        width: 280px;
        height: 250px;
        margin-top: 20px;
    }
    #ayinla{
        width: 280px;
        height: 250px;
        margin-top: 20px;
    }
    #olamide{
        width: 280px;
        height: 380px;
        margin-top: 20px;
    }
    #samuel{
        display: block;
        margin-top: 20px;
    }
    #segun{
        width: 280px;
        height: 250px;
        margin-top: 20px;
    }
    #obinna{
        width: 280px;
        height: 250px;
        margin-top: 20px;
    }
    #etim{
        width: 280px;
        height: 200px;
        margin-top: 20px;
    }
    #testi{
        /* height: 4000px; */
    }
    #joy{
        display: block;
    }
    #lolly{
        width: 280px;
        height: 200px;
        margin-top: 20px;
    }
    #phillip{
        width: 280px;
        height: 180px;
        margin-top: 20px;
    }
    #daizel{
        width: 280px;
        height: 180px;
        margin-top: 20px;
    }
    #ocheme{
        display: block;
    }
    #austin{
        width: 280px;
        height: 180px;
        margin-top: 20px;
    }
    #joseph{
        width: 280px;
        height: 180px;
        margin-top: 20px;
    }
    #busy{
        margin-left: 30px;
    }
    #secondpage{
        height: 1550px;
    }
    .third{
        height: 800px;
    }
    .fifth{
        height: 750px;
    }
    #corp{
        margin-left: -100px;
    }
    #kan{
        margin-left: -110px;
    }
    .interface{
        margin-left: 50px;
        height: 600px;
    }
}