*{
    margin: 0;
    padding: 0;
}
#image{
    width: 200px;
    height: 100px;
    margin-left: 115px;
}


#seconddiv{
    display: flex;
    margin-top: 50px;
    /* margin-top: 130px; */
}
#you{
  display: flex;

}
#firsttext{
  margin-left: 50px; 
  margin-top: 50px;
  font-size: 60px;  
}
#myvid{
    width:600px;
    height: 600px;
    margin-top: 20px;
    /* margin-left: 10px; */
}
#myp{
    margin-left: 50px;
    font-size: 20px;
}
#bus{
margin-left: 50px;
width: 200px;
height: 40px;
background-color: rgb(41,108,240);
color: white;
border-color: rgb(41,108,240);
border-radius: 5px;
}
#api{
    font-size: 35px;
}
#pers{
    width: 200px;
    height: 40px;
    background-color: white;
    color: rgb(41,108,240);
    margin-left: 10px;
    border-radius: 5px;
    border-color:  rgb(41,108,240);
}
#secondpage{
    width: 100%;
    height: 1150px;
    background-color: rgb(41,108,240);
}
#individuals{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-size: 55px;
}
#lola{
    width: 400px;
    height: 500px;
    margin-left: 50px;
    margin-top: 100px;
}
#move h1{
    font-size: 22px;
}
#move img{
    width: 70px;
    height: 70px;
}
#both{
    display: flex;
}
#app{
    margin-left: 30px;
}
#move button{
    width: 270px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(41,108,240);
    color: white;
    border-color: white;
}
#bills{
    color: white;
    display: flex;
    margin-top: 100px;
    /* margin-left: 100px; */
}
#pos{
    color: white;
    margin-left: 30px;
}
#yup{
    display: flex;
    /* margin-left: 100px; */
}
.third{
    width: 100%;
    height: 800px;
    margin-top: 100px;
    /* margin-left: 110px; */
    /* display: flex; */
}
#success{
    display: flex;
}
#ness{
    color: rgb(41,108,240);
}
#jour{
    font-size: 35px;
}
#thevid{
    width: 550px;
    height: 550px;
    /* margin-left: 50px; */
}
#busy{
    margin-left: 50px;
}
#sonal{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-left: 25px;
}
#kan{
    width: 350px;
    height: 430px;
    margin-left: 0px;
}
#svg{
    color: rgb(41,108,240);
}
.fourth{
    width: 100%;
    height: 750px;
    /* margin-left: 110px; */
    /* margin-top: 50px; */
   
}
#thetwo{
    /* margin-left: 150px; */
    /* margin-top: 50px; */
    display: flex ;
}
#feel{
    /* margin-left: 10px; */
    font-size: 35px;
}
#easy{
     margin-left: 25px; 
}
.fifth{
    width: 100%;
    height: 600px;
    /* margin-left: 110px; */
    /* margin-top: 50px; */
    
}
#thethree{
    margin-left: 50px;
    display: flex;
}
.marq{
    width: 100%;
    height: 500px;
    position: ;
}
/* #MDB-logo{
width: 100px;
height: 50px;
} */
#nial{
    color: rgb(41,108,240);
}
#person{
    color:  rgb(41,108,240);
}
#testi{
    text-align: center;
}
#nav{
    height: 70px;
    width: 100%;
    
}








@media(max-width : 1115px) {
    #myvid{
        width: 450px;
        height: 450px;
    }
    #buttons{
        display: flex;
    }
    /* #img{
        margin-left: 100px;
    } */
     #firsttext{
        font-size: 45px;
     }
}
@media(max-width : 1000px){
    #myvid{
        width: 350px;
        height: 350px;
    }
    #buttons{
        display: flex;
    }
    #firsttext{
        font-size: 35px;
     }
}
@media(max-width: 750px){
    #myvid{
        width: 300px;
        height: 300px;
    }
    #buttons{
        display: flex;
        
    }
    #bus{
        height: 70px;
        width: 120px;
    }
    #pers{
        height: 70px;
        width: 120px;
    }

    #firsttext{
        font-size: 35px;
     }
     #myp{
        font-size: 15px;
     }
     #you{
        display: block;
     }
     #individuals{
        font-size: 25px;
     }
     #both{
        display: block;
     }
     #secondpage{
        width: 100%;
        height: 1650px;
     }
     #move button{
        width: 200px;
        height: 50px;
     }
     #lola{
        width: 300px;
        height: 400px;
     }
     #success{
        display: block;
     }
     #thevid{
        width: 300px;
        height: 300px;
     }
     #jour{
        font-size: 25px;
     }
     #thetwo{
        display: block;
     }
     #sonal{
        width: 300px;
        height: 300px;
     }
     #feel{
        font-size: 30px;
     }
     #easy li{
        font-size: 15px;
     }
     #thethree{
        display: block;
     }
     #kan{
        width: 250px;
        height: 300px;
     }
     #api{
        font-size: 23px;
        
     }
     #nect{
        font: 20px
        ;
     }
    
}